@import '../../style/variables.scss';

.header-block{
    height: 100px;
    padding: 20px 0px;
    .search-list{
        background-color: rgba(240, 255, 255, 0.288);
        display: none;
}
    form{
        display: flex;
        gap: 10px;
    }
button{
    font-size: $font-size;
    height: 44px;
    
}
input{
    font-size: $font-size;
    margin-bottom: 15px;
    box-shadow: $shadow;
    width: 100%;
}
}